/* file path: src/assets/Resume.css */

.resume-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .resume-content h2 {
    margin-bottom: 20px;
  }
  
  .resume-content a {
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .resume-content a:hover {
    text-decoration: underline;
  }
  
  .resume-image img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }