/* file path: src/assets/Footer.module.css */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400&display=swap');

footer {
    font-family: "M PLUS Rounded 1c", sans-serif;
    text-align: center;
    padding: 20px;
    background: #0c0c3c;
    color: white;
    margin-top: 0px;
  }
  
  footer a {
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #ffdd57;
    margin: 0 10px;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;
    }
  
    .rightNav {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      margin-top: 10px;
    }
  
    .homeLink {
      font-size: 28px;
    }
  
    .rightNav li {
      font-size: 18px;
    }
  }
  