/* file path: src/assets/Home.module.css */

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust as needed */
  }
  
  .blue-rectangle {
    background-color: blue;
    width: 300px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .white-circle {
    background-color: white;
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%;
  }